<h1>一覧画面</h1>

<% @lists.each do |list|%>

<h4>タイトル</h4>
<span><%= link_to list.title,list_path(list.id) %></span>
<h4>画像</h4>
 <% if list.image.attached? %>
  <%= image_tag list.image ,size: "200x200"%>
  <% else %>
  <%= image_tag "no_image" ,size: "200x200" %>
 <% end %>

<% end %>

